[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Icon=/opt/rubymine/bin/RMlogo.svg
Exec=rubymine %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine
